priority -60

# comment
snippet number "number placeholder" b
${1:content} ${2:two} ${3} $1
endsnippet

snippet "with space" "space placeholder" b
withspace$0
endsnippet

snippet empty "empty" w
empty${0}
endsnippet

snippet inword "in word" i
$0
endsnippet

snippet /(^|(?<=\W))\./ "expression" r
self.
endsnippet

snippet " "quote" b
$0
endsnippet

snippet f "function (fun)"
function ${1:function_name}(${2:argument}) {
}
endsnippet

snippet ^im "import from" rbA
import $0 from '${1}'
endsnippet
