
snippet r "return" "re.match('^\s+if err ', snip.buffer[snip.line-1])" be
return err
endsnippet

context "re.match('^\s+if err ', snip.buffer[snip.line-1])"
snippet r "return" be
return err
endsnippet


